*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#header{
    position: fixed;
    height: 80px;
    width: 100%;
    background-color: rgb(243, 242, 241);
    font-size: 24px;
    display: flex;
    justify-content: space-around;
    align-items:center;
}
.elements{
    display: flex;
    gap: 4px;
    justify-content: center;
    align-items: center;
}
#logo{
    height: 36px;
    width: 36px;
    border: 2px solid rgb(253, 136, 3);
    background-color: rgb(255, 119, 1);
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items:center;
}
#search{
    padding: 12px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 4px;

}
#search input{
    border: 1px solid gray;
}

#cart-icon{
    padding-left: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    color: rgb(25, 25, 26);
}
/* #cart-icon span{
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    border-radius: 50%;
} */

#main{
    max-width: 100%;
    padding: 100px 18% 0 18%;
    
}

#heading-content{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
#heading-content p{
    font-size: 24px;
}
#filter{
    padding-top: 32px;
    display: flex;
    gap: 8px;
}
.btn{
    padding:4px 16px 4px 16px;
    font-size: 24px;
    border-radius: 50px;
}
.btn:first-child{
    background-color:gray;
}
#product-grid{
    height: 350px;
    background-color:linear-gradient(90deg, #e0e0e0 25%, #cfcfcf 50%, #e0e0e0 75%);
    background-size: 200% 100%;
    border-radius: 12px;
}

/* GRID */
#product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 36px;
}

/* SKELETON LOADER */
.skeleton-card {
    height: 350px;
    background: linear-gradient(90deg, #e0e0e0 25%, #cfcfcf 50%, #e0e0e0 75%);
    background-size: 200% 100%;
    border-radius: 12px;
    animation: skeleton 1.4s infinite;
}

@keyframes skeleton {
    from {
        background-position: 200% 0;
    }
    to {
        background-position: -200% 0;
    }
}

/* PRODUCT CARD */
.product-card {
    background: #fff;
    border-radius: 14px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.product-card img {
    height: 200px;
    object-fit: contain;
    width: 100%;
}

.product-title {
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0 6px;
}

.product-price {
    font-size: 18px;
    font-weight: bold;
}

.add-to-cart {
    margin-top: auto;
    padding: 10px;
    width: 100%;
    background: black;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    border: none;
}

.add-to-cart:hover {
    background: #333;
} 

/* CART DRAWER */
#cart-drawer {
    position: fixed;
    top: 0;
    right: -400px;     /* hidden initially */
    width: 350px;
    height: 100vh;
    background: #fff;
    box-shadow: -4px 0 10px rgba(0,0,0,0.2);
    padding: 20px;
    display: flex;
    flex-direction: column;
    transition: 0.3s ease;
    z-index: 1000;
    align-items: center;
    justify-content: center;
}

#cart-header {
    width: 100%;
   
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#close-cart {
    background: none;
    border: none;
    font-size: 22px;
    cursor: pointer;
}

#cart-items {
    flex: 1;
    overflow-y: auto;
    margin-top: 20px;
}

.cart-row {
    display: flex;
    gap: 8px;
    align-items: center;
    margin-bottom: 20px;
    border: 1px solid gray;
    border-radius: 8px;
    padding: 6px;
}

.drawer-card {
    width: 70px;
    height: 70px;
    
}
.drawer-card img {
    width: 70px;
    height: 70px;
    object-fit: contain;
}

.qty-controls {
    padding-top: 16px;
    display: flex;
    flex-direction: column;
   
    justify-content: start;
    gap: 8px;
}
.quantity-ind {
    width: 80px;
    padding: 0 4px 0 4px;
    display: flex;
    align-items: center;
    gap: 8px;
    border: 1px solid black;
    border-radius: 64px;
    background-color: rgba(171, 169, 169, 0.559);
}

.qty-btn {
    width: 26px;
    height: 26px;
    text-align: center;
    cursor: pointer;
    color: rgb(5, 3, 3);
    display: flex;
    justify-content: center;
    align-items: center;
}

#cart-footer {
    border-top: 1px solid #ddd;
    padding-top: 15px;
    text-align: center;
    font-size: 18px;
}

/* OVERLAY */
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    display: none;
    z-index: 900;
}

.payment{
    margin-top: 8px;
    padding: 8px;
    width: 100%;
    text-align: center;
    border-radius: 32px;
    border: 1px solid rgb(5, 16, 79);
    background-color: rgb(36, 36, 197);
    color: white;
    cursor: pointer;
}
#paynow {
    font-size: 24px;
    font-weight: bold;
}


@media (max-width: 718px) {

#header{
    height: 60px;
    padding: 0 16px;
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(199, 199, 203);
}
#search{
    padding: 0px;
    width: 90px;
    

}

#search input{
    display: none;
    border: 1px solid gray;
}

#cart-icon{
    padding-left: 4px;
}

#main{
    max-width: 100%;
    padding: 80px 16px;
    
}


#heading-content p{
    font-size: 24px;
}
#filter{
    padding-top: 24px;
}
.btn{
    padding:4px 16px 4px 16px;
    font-size: 14px;
    border-radius: 32px;
    border: 1px solid black;
}
.btn:first-child{
    background-color:rgb(255, 85, 0);
    color: white;
}
#product-grid{
    height: 350px;
    background-color:linear-gradient(90deg, #e0e0e0 25%, #cfcfcf 50%, #e0e0e0 75%);
    background-size: 200% 100%;
    border-radius: 12px;
}

/* GRID */
#product-grid {
    
    padding: 32px 0 16px 0;
}

.product-title {
    
    font-weight: 400;
    
}

.product-price {
    font-size: 18px;
    font-weight: bold;
}

.add-to-cart {
    background: rgb(8, 27, 122);

}

.add-to-cart:hover {
    background: #04074d;
} 

/* CART DRAWER */
#cart-drawer {
        /* hidden initially */
    width: 100%;
    height: 100%;
    background: #fcfcfc;
}
}